<nav class="dropdown">
    <button id="genericMenuLauncher" aria-haspopup="true" aria-expanded="false">Generic Dropdown</button>
    <div aria-labeledby="genericMenuLauncher" style="display: none;">
        <a href="#">Manage users</a>
        <a href="#">Update resources</a>
    </div>
</nav>
<nav class="dropdown">
    <button id="adminMenuLauncher" aria-haspopup="true" aria-expanded="false">Administration</button>
    <div aria-labeledby="adminMenuLauncher" style="display: none;">
        <div>
            <a href="#">Manage users</a>
            <a href="#">Update resources</a>
        </div>
        <div>
            <a href="#">Manage users</a>
            <a href="#">Update resources</a>
        </div>
    </div>
</nav>
