<nav class="dropdown">
    <button class="launcher" id="genericMenuLauncher" aria-haspopup="true" aria-expanded="false">Generic Dropdown</button>
    <div class="links" aria-labeledby="genericMenuLauncher">
        <a href="#">Manage users</a>
        <a href="#">Update resources</a>
    </div>
</nav>
<nav class="dropdown">
    <button class="launcher" id="adminMenuLauncher" aria-haspopup="true" aria-expanded="false">Administration</button>
    <div aria-labeledby="adminMenuLauncher" class="links">
        <div class="subgroup">
            <a href="#">Manage users</a>
            <a href="#">Update resources</a>
        </div>
        <div class="subgroup">
            <a href="#">Manage users</a>
            <a href="#">Update resources</a>
        </div>
    </div>
</nav>
