<nav class="fn1-dropdown">
    <button class="fn1-dropdown-launcher" id="genericMenuLauncher" aria-haspopup="true" aria-expanded="false">Generic Dropdown</button>
    <div class="fn1-dropdown-links" aria-labeledby="genericMenuLauncher" style="display: none;">
        <a href="#" class="fn1-dropdown-link">Manage users</a>
        <a href="#" class="fn1-dropdown-link">Update resources</a>
    </div>
</nav>
<nav class="fn1-dropdown fn1-dropdown-admin">
    <button class="fn1-dropdown-launcher" id="adminMenuLauncher" aria-haspopup="true" aria-expanded="false">Administration</button>
    <div class="fn1-dropdown-links" aria-labeledby="adminMenuLauncher" style="display: none;">
        <div class="fn1-dropdown-subgroup">
            <a href="#" class="fn1-dropdown-link">Manage users</a>
            <a href="#" class="fn1-dropdown-link">Update resources</a>
        </div>
        <div class="fn1-dropdown-subgroup">
            <a href="#" class="fn1-dropdown-link">Manage users</a>
            <a href="#" class="fn1-dropdown-link">Update resources</a>
        </div>
    </div>
</nav>
