.fn1-pageOverview {
    @include clearfix();
    background: $fn1-blue;
    color: #fff;

    &-container {
        @include container();
    }
    &-mainInfo { // <- A container for the main information in the Page Overview
        @include grid-8col();
        + aside {
            @include grid-4col();
        }
    }
    &-address {
        font-style: normal;
        white-space: pre-line;
    }
    &-latLon {
        margin: 0;

        > dt {
            display: inline;
            margin: 0;
            padding: 0;
            &:after {
                content: ': ';
            }
        }
        > dd {
            display: inline;
            margin: 0;
            padding: 0;
        }
    }
    &-toc {
        margin: 0;
        > dt {
            font-family: $font-headings;
            font-size: (28rem/16);
            font-weight: 300;
            margin: 0 0 (10rem/16) 0;
        }
        > dd {
            margin: 0 0 .33em 0;
            > a {
                color: $fn1-cornflower-lightest;
                line-height: 1.1em;
            }
        }
    }
    @media screen and (min-width: $viewport-medium) {
        &-mainInfo {
            padding-top: 1rem;
            padding-bottom: 1rem;
            + aside {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            > p {
                font-size: (20em/16);
                line-height: (30em/20);
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &-address {
            box-sizing: border-box;
            float: left;
            font-size: (16rem/16);
            padding-right: $grid-gutter;
            width: 50%;
        }
        &-latLon {
            box-sizing: border-box;
            float: left;
            padding-left: $grid-gutter;
            width: 50%;
        }
    }
    @media screen and (min-width: $viewport-large) {
        &-address {

        }
        &-mainInfo {
            + aside {
                margin-top: 0;
                margin-bottom: 0;
                padding: 2rem 0 2rem $grid-gutter*2;
                position: relative;

                &:before {
                    background: #fff;
                    content: ' ';
                    display: block;
                    position: absolute;
                        top: 2em;
                        bottom: 2em;
                        left: 32px;
                    width: 1px;
                }
            }
        }
    }
}
