$blue: #315da6;
$blue-light: #4975ba;
$blue-dark: #143a7a;
$blue-darkest: #06204b;

// Cornflower
$cornflower-lightest: #acf2ff;
$cornflower-light: #5991c2;
$cornflower-darkest: #12314c;

// Action Green
$green: #20ac59;
$green-light: #83b685;
$green-lightest: #aaffac;

// Blue-ish gray
$gray: #bcc9d8;
$gray-dark: #8d98a5;
$gray-darkest: #585f68;
$nightshade: #2a2e32; // Darker than darkest

// Red
$red: #872528;
$red-light: #9f383b;
$red-lightest: #e47377;
$red-dark: #5f0a0c;
$red-darkest: #390001;

// Font families
$font-body-copy: 'PT Sans', Verdana, sans-serif;
$font-headings: Lato, 'Helvetica Neue', Arial, sans-serif;


// Viewport size variables
$viewport-large: (990rem / 16);
$viewport-medium: (600rem / 16);
$viewport-small: (350rem / 16);

$layoutMaxWidth: (1160rem / 16);


// Grid
$grid-gutter: 2rem;

@mixin nestedGridContainer() {
    @media screen and (min-width: $viewport-medium) {
        margin: 0 ($grid-gutter*-1);
    }
}
@mixin container {
    margin: 1rem;

    @media screen and (min-width: $viewport-medium) {
        @include clearfix();
        box-sizing: border-box;
        max-width: $layoutMaxWidth;
        margin: 0 auto;
    }
}
@mixin grid-mixin($width) {
    box-sizing: border-box;
    @media screen and (min-width: $viewport-medium) {
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        width: $width;
    }
}
@mixin grid-2col {
    @include grid-mixin(100%*2/12);
}

@mixin grid-3col {
    @include grid-mixin(100%*3/12);
}

@mixin grid-4col {
    @include grid-mixin(100%*4/12);
}

@mixin grid-5col {
    @include grid-mixin(100%*5/12);
}

@mixin grid-6col {
    @include grid-mixin(100%*6/12);
}

@mixin grid-8col {
    @include grid-mixin(100%*8/12);
}

@mixin grid-9col {
    @include grid-mixin(100%*9/12);
}

@mixin grid-10col {
    @include grid-mixin(100%*10/12);
}

@mixin grid-12col {
    width: auto;
    margin-right: $grid-gutter;
    margin-left: $grid-gutter;
}




@mixin visuallyHidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin clearfix() {
    &:before, &:after {
        clear: both;
        content: ' ';
        display: table;
    }
}
