@import './modules/_vars-mixins';
.fn1 {
    .portal {
        &-pageHeader {
            background: url('../info/img/parks-home-header-photo.jpg') no-repeat 50% 50%;
            background-size: cover;
            &-container {
                @extend %docWidthContainer;
                padding-top: 2em;
                position: relative;
                overflow: hidden;
            }
            &-title {
                color: #fff;
                font-weight: normal;
                letter-spacing: .1em;
                margin: 0 auto;
                text-align: center;
                text-shadow: 0 0 3px #000000;
                > i {
                    font-weight: bold;
                    font-size: (24em/36);
                }
            }
            &-medal {
                position: absolute;
                    top: $grid-gutter*.25;
                    right: $grid-gutter*1.25;
            }
            &-nav {
                @include grid-12col();
                background-color: rgba(255, 255, 255, .75);
                padding-top: .25em;
                padding-bottom: .25em;
                > a {
                    background-color: rgba(255, 255, 255, 0);
                    box-sizing: border-box;
                    color: $cornflower-dark;
                    display: block;
                    font-family: $font-headings;
                    padding: .5em;
                    position: relative;
                    text-align: center;
                    &:hover {
                        background-color: rgba(255, 255, 255, .6);
                    }
                    &:before {
                        border-right: (2rem/16) solid $blue;
                        border-bottom: (2rem/16) solid $blue;
                        color: $blue;
                        content: '';
                        display: inline-block;
                        height: .7em;
                        margin-right: 1em;
                        position: relative;
                            top: .08em;
                        transform: rotate(-45deg);
                        width: .7em;
                    }
                }
            }
            @media screen and (min-width: $viewport-medium) {
                &-nav {
                    padding-top: 0;
                    padding-bottom: 0;
                    overflow: hidden;
                    > a {
                        float: left;
                        width: 33.30%;
                        transition: background-color .25s ease-in-out;
                    }
                }
            }
            @media screen and (min-width: $viewport-large) {
                &-container {
                    padding-top: (100rem/16);
                }
                &-title {
                    font-size: (36rem/16);
                    margin-bottom: 1em;
                }
                &-nav {
                    > a {
                        font-size: (18rem/16);
                        padding: .75em;
                    }
                }
            }
        }


        &Nav {
            @include grid-12col();
            background: #4273b2;
            text-align: center;
            &-row {
                padding: $grid-gutter 0;
                > a {
                    color: #fff;
                    display: inline-block;
                    font-family: $font-headings;
                    font-size: (26rem/16);
                    margin: 0 $grid-gutter;
                    position: relative;
                    vertical-align: top;
                    width: 2em;
                    &:before {
                        border-right: (3rem/16) solid $cornflower-lightest;
                        border-bottom: (3rem/16) solid $cornflower-lightest;
                        color: $blue;
                        content: '';
                        display: block;
                        height: .2em;
                        margin-right: .5em;
                        position: absolute;
                            top: .4em;
                            left: -.25em;
                        transform: rotate(-45deg);
                        width: .2em;
                    }
                    > small {
                        display: block;
                        font-size: (14em/20);
                        line-height: 1.1em;
                        padding: 0;
                    }
                }
            }
            > .btn-featuredAction {
                margin-bottom: (28rem/16);
                width: 10em;
            }
            @media screen and (min-width: $viewport-medium) {
                &-row {
                    > a {
                        font-size: (36rem/16);
                        font-weight: lighter;
                        > small {
                            font-size: (14em/36);
                            font-weight: normal;
                        }
                        &:before {
                            height: .4em;
                            width: .4em;
                            top: .3em;
                        }
                    }
                }
            }
        }


        &-social,
        &-mailingList > a {
            font-family: $font-headings;
            font-size: (14rem/16);
        }
        &-social {
            @include grid-6col;
            color: $cornflower-lightest;
            padding: .5em 0;
            text-align: center;
            > .facebook, > .twitter {
                display: inline-block;
                height: 2.5em;
                overflow: hidden;
                text-indent: -100em;
                vertical-align: middle;
                margin: 0 0 0 1em;
            }
            > .facebook {
                background: url('../img/fa-svg/facebook-white.svg') no-repeat 50% 50% / auto 75%;
                width: 1em;
            }
            > .twitter {
                background: url('../img/fa-svg/twitter-white.svg') no-repeat 50% 50% / auto 75%;
                width: 1.5em;
            }
        }
        &-mailingList {
            @include grid-6col;
            padding: .5em 0;
            text-align: center;
            > a {
                color: $cornflower-lightest;
                &:after {
                    background: url('../img/fa-svg/envelope-white.svg') no-repeat 50% 30% / auto 75%;
                    content: '';
                    display: inline-block;
                    height: 2.5em;
                    margin: 0 0 0 1em;
                    vertical-align: middle;
                    width: 2em;
                }
            }
        }
        @media screen and (max-width: $viewport-medium) {
            &-social,
            &-mailingList > a {
                font-size: (18rem/16);
            }
        }



        &-events {
            background: url('../info/img/parks-home-schedule-bg.jpg') no-repeat 50% 0;
            background-size: contain;
            min-height: (600rem/16);
            &-container {
                background: #fff;
                box-sizing: border-box;
                min-height: 3em;
                > h1 {
                    color: $blue-dark;
                }
            }
            &:after {
                background: url('../info/img/parks-portal-divider.jpg') no-repeat 50% 50%;
                background-size: cover;
                content: '';
                display: block;
                height: 20em;
            }
            @media screen and (min-width: $viewport-medium) {
                padding-top: (100rem/16);
                &-container {
                    padding: $grid-gutter;
                    margin: 0 auto;
                    max-width: $layoutMaxWidth - $grid-gutter*2;
                    > h1 {
                        margin-left: $grid-gutter;
                    }
                }
            }
        }
    }
}
