{% extends '../../layouts/generic.html' %}

{% block pageTitle %}Parks Facility demo page{% endblock %}

{% block extraHead %}
    <link href="/assets/css/info.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageHeader %}
    {% include './includes/_siteHeader.html' %}
    {% include './includes/_pageHeader.html' %}
{% endblock %}

{% block preContainer %}
    <div class="pageOverview">
        <div class="pageOverview-container">
            <div class="pageOverview-mainInfo">
                <p>A full-service excercise facility to serve all of your fitness needs and then some!</p>
                <a href="#" class="btn-featuredAction">Join a membership plan</a>
            </div>
        </div>
        <aside>
        </aside>
    </div>
{% endblock %}

{% block blocks %}
    <section class="uiBlock">
        <header class="uiBlock-header">
            <h1 class="uiBlock-title--centered mod-xl">Features &amp; Amenities</h1>
        </header>
        <div class="uiBlock-content">
            {% include '../../components/miniGallery/_miniGallery-3pic.html' %}
            {% include '../../components/text/_text-description.html' %}
            <div class="btn-container--centered">
                <a href="#" class="btn-featuredAction">Join a membership plan</a>
            </div>
        </div>
    </section>
    <section class="uiBlock">
        <aside class="uiBlock-portraitSidebar">
            <img src="https://spaceholder.cc/375x475" alt="" />
        </aside>
        <div class="uiBlock-content">
            <h1 class="uiBlock-title">Host your party or event</h1>
            <div class="description markdownContent">
                <p>Transparency means open to view - letting information out, measuring what we are doing and holding ourselves accountable, and sharing results widely. I've pledged from the beginning of my campaign to throw open the doors of city hall, literally and figuratively. Government belongs to the people, and that means all the data and information, good and bad, flattering and un-, as well.</p>
            </div>
            <div class="btn-container--centered">
                <a href="#" class="btn-featuredAction">Rent this facility</a>
            </div>
        </div>
    </section>
    <section class="uiBlock">
        <header class="uiBlock-header">
            <h1 class="uiBlock-title">Staff</h1>
        </header>
        <div class="uiBlock-content">
            {% include '../../components/personListing/_personList.html' %}
        </div>
    </section>
{% endblock %}

{% block pageFooter %}
    <footer>
    </footer>
{% endblock %}
