{%- set page.layout = 'widthConstrained' -%}
{%- set page.title = 'Parks Facility demo page' -%}
{% extends '../../layouts/generic.html' %}

{% block extraHead %}
    <link href="/assets/css/info.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/parks-portal.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block headers %}
    {% include './includes/_siteHeader.html' %}
    <div class="portal-pageHeader">
        <div class="portal-pageHeader-container">
            <h1 class="portal-pageHeader-title">Parks <i>and</i> Recreation</h1>
            <img src="../../assets/info/img/CAPRA-accreditation@1x.png"
                 srcset="../../assets/info/img/CAPRA-accreditation@1x.png 1x, ../../assets/info/img/CAPRA-accreditation@2x.png 2x"
                 alt="CAPRA Gold Winner"
                 class="portal-pageHeader-medal"
            />
            <nav class="portal-pageHeader-nav">
                <a href="#">Online registration</a>
                <a href="#">Host your event or party</a>
                <a href="#">Join our team</a>
            </nav>
        </div>
    </div>
{% endblock %}

{% block preContainer %}
    <div class="pageOverview">
        <div class="pageOverview-container">
            <nav class="portalNav">
                <div class="portalNav-row">
                    <a href="#">11 <small>Trails</small></a>
                    <a href="#">32 <small>Parks</small></a>
                    <a href="#">1 <small>Pools</small></a>
                    <a href="#">18 <small>Basketball Courts</small></a>
                    <a href="#">1 <small>Golf Course</small></a>
                    <a href="#">24 <small>Playgrounds</small></a>
                </div>
                <a href="#" class="btn-featuredAction">Find your park</a>
            </nav>
            <div class="portal-social">
                <span>Socialize with us!</span>
                <a href="#" class="facebok">Facebook</a>
                <a href="#" class="twitter">Twitter</a>
            </div>
            <div class="portal-mailingList">
                <a href="#">Subscribe to our mailing list</a>
            </div>
        </div>
    </div>
    <div class="portal-events">
        <section class="portal-events-container">
            <h1>Upcoming events</h1>
            {% include '../../components/event/_fsCal.html' %}
        </section>
    </div>
{% endblock %}

{% block blocks %}
    <section class="uiBlock">
        <header class="uiBlock-header">
            <h1 class="uiBlock-title--centered mod-xl">Features &amp; Amenities</h1>
        </header>
        <div class="uiBlock-content">
            {% include '../../components/miniGallery/_miniGallery-3pic.html' %}
            {% include '../../components/text/_text-description.html' %}
            <div class="btn-container--centered">
                <a href="#" class="btn-featuredAction">Join a membership plan</a>
            </div>
        </div>
    </section>
    <section class="uiBlock">
        <aside class="uiBlock-portraitSidebar">
            <img src="https://spaceholder.cc/375x475" alt="" />
        </aside>
        <div class="uiBlock-content">
            <h1 class="uiBlock-title">Host your party or event</h1>
            <div class="description markdownContent">
                <p>Transparency means open to view - letting information out, measuring what we are doing and holding ourselves accountable, and sharing results widely. I've pledged from the beginning of my campaign to throw open the doors of city hall, literally and figuratively. Government belongs to the people, and that means all the data and information, good and bad, flattering and un-, as well.</p>
            </div>
            <div class="btn-container--centered">
                <a href="#" class="btn-featuredAction">Rent this facility</a>
            </div>
        </div>
    </section>
{% endblock %}
