{% extends '../../layouts/generic.html' %}

{% block pageTitle %}Parks Facility demo page{% endblock %}

{% block extraHead %}
    <link href="/assets/css/info.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageHeader %}
    {% include './includes/_siteHeader.html' %}
    {% include './includes/_pageHeader.html' %}
{% endblock %}

{% block preContainer %}
    <div class="pageOverview">
        <div class="pageOverview-container">
            <div class="pageOverview-mainInfo">
                <p>A full-service excercise facility to serve all of your fitness needs and then some!</p>
                <a href="#" class="btn-featuredAction">Join a membership plan</a>
            </div>
        </div>
        <aside>
        </aside>
    </div>
{% endblock %}

{% block blocks %}
    <section class="uiBlock">
        <header class="uiBlock-header">
            <h1 class="uiBlock-title">Individual Plans</h1>
        </header>
        <div class="uiBlock-content">
            <div class="pricingTable">
                <article class="pricingOffer">
                    <h1 class="pricingOffer-title">Students</h1>
                    <p class="pricingOffer-meta">Ages 18&ndash;25 with valid high school or university ID</p>
                    <div class="pricingOffer-price">
                        <span class="pricingOffer-currency">$</span><span class="pricingOffer-value">40</span><span class="pricingOffer-unit">/mo</span>
                    </div>
                    <div class="pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
                <article class="pricingOffer">
                    <h1 class="pricingOffer-title">Students</h1>
                    <p class="pricingOffer-meta">Ages 18&ndash;25 with valid high school or university ID</p>
                    <div class="pricingOffer-price">
                        <span class="pricingOffer-currency">$</span><span class="pricingOffer-value">40</span><span class="pricingOffer-unit">/mo</span>
                    </div>
                    <div class="pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
                <article class="pricingOffer">
                    <h1 class="pricingOffer-title">Students</h1>
                    <p class="pricingOffer-meta">Ages 18&ndash;59</p>
                    <div class="pricingOffer-price">
                        <span class="pricingOffer-currency">$</span><span class="pricingOffer-value">40</span><span class="pricingOffer-unit">/mo</span>
                    </div>
                    <div class="pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
                <article class="pricingOffer">
                    <h1 class="pricingOffer-title">Students</h1>
                    <p class="pricingOffer-meta">Ages 18&ndash;59</p>
                    <div class="pricingOffer-price">
                        <span class="pricingOffer-currency">$</span><span class="pricingOffer-value">40</span><span class="pricingOffer-unit">/mo</span>
                    </div>
                    <div class="pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
            </div>
            <div class="btn-container--centered">
                <a href="#" class="btn-featuredAction">Join a membership plan</a>
            </div>
        </div>
    </section>
    <section class="uiBlock">
        <header class="uiBlock-header">
            <h1 class="uiBlock-title">Individual Plans</h1>
        </header>
        <div class="uiBlock-content">
            <div class="pricingTable">
                <article class="pricingOffer">
                    <h1 class="pricingOffer-title">Students</h1>
                    <p class="pricingOffer-meta">Ages 18&ndash;25 with valid high school or university ID</p>
                    <div class="pricingOffer-price">
                        <span class="pricingOffer-currency">$</span><span class="pricingOffer-value">40</span><span class="pricingOffer-unit">/mo</span>
                    </div>
                    <div class="pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
                <article class="pricingOffer">
                    <h1 class="pricingOffer-title">Students</h1>
                    <p class="pricingOffer-meta">Ages 18&ndash;25 with valid high school or university ID</p>
                    <div class="pricingOffer-price">
                        <span class="pricingOffer-currency">$</span><span class="pricingOffer-value">40</span><span class="pricingOffer-unit">/mo</span>
                    </div>
                    <div class="pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
                <article class="pricingOffer">
                    <h1 class="pricingOffer-title">Students</h1>
                    <p class="pricingOffer-meta">Ages 18&ndash;59</p>
                    <div class="pricingOffer-price">
                        <span class="pricingOffer-currency">$</span><span class="pricingOffer-value">40</span><span class="pricingOffer-unit">/mo</span>
                    </div>
                    <div class="pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
            </div>
            <div class="btn-container--centered">
                <a href="#" class="btn-featuredAction">Join a membership plan</a>
            </div>
        </div>
    </section>
    <section class="uiBlock">
        <header class="uiBlock-header">
            <h1 class="uiBlock-title">Individual Plans</h1>
        </header>
        <div class="uiBlock-content">
            <div class="pricingTable">
                <article class="pricingOffer">
                    <h1 class="pricingOffer-title">Students</h1>
                    <p class="pricingOffer-meta">Ages 18&ndash;25 with valid high school or university ID</p>
                    <div class="pricingOffer-price">
                        <span class="pricingOffer-currency">$</span><span class="pricingOffer-value">40</span><span class="pricingOffer-unit">/mo</span>
                    </div>
                    <div class="pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
                <article class="pricingOffer">
                    <h1 class="pricingOffer-title">Students</h1>
                    <p class="pricingOffer-meta">Ages 18&ndash;25 with valid high school or university ID</p>
                    <div class="pricingOffer-price">
                        <span class="pricingOffer-currency">$</span><span class="pricingOffer-value">40</span><span class="pricingOffer-unit">/mo</span>
                    </div>
                    <div class="pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
            </div>
            <div class="btn-container--centered">
                <a href="#" class="btn-featuredAction">Join a membership plan</a>
            </div>
        </div>
    </section>
    <section class="uiBlock">
        <header class="uiBlock-header">
            <h1 class="uiBlock-title">Staff</h1>
        </header>
        <div class="uiBlock-content">
            {% include '../../components/personListing/_personList.html' %}
        </div>
    </section>
{% endblock %}

{% block pageFooter %}
    <footer>
    </footer>
{% endblock %}
