{% extends '../../layouts/generic.html' %}

{% block pageTitle %}Parks Facility demo page{% endblock %}

{% block extraHead %}
    <link href="/assets/css/info.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageHeader %}
    {% include './includes/_siteHeader.html' %}
    {% include './includes/_pageHeader.html' %}
{% endblock %}

{% block preContainer %}
    <div class="fn1-pageOverview">
        <div class="fn1-pageOverview-container">
            <div class="fn1-pageOverview-mainInfo">
                <p>A full-service excercise facility to serve all of your fitness needs and then some!</p>
                <a href="#" class="fn1-btn-featuredAction">Join a membership plan</a>
            </div>
        </div>
        <aside>
        </aside>
    </div>
{% endblock %}

{% block blocks %}
    <section class="fn1-uiBlock">
        <header class="fn1-uiBlock-header">
            <h1 class="fn1-uiBlock-title">Individual Plans</h1>
        </header>
        <div class="fn1-uiBlock-content">
            <div class="fn1-pricingTable">
                <article class="fn1-pricingOffer">
                    <h1 class="fn1-pricingOffer-title">Students</h1>
                    <p class="fn1-pricingOffer-meta">Ages 18&ndash;25 with valid high school or university ID</p>
                    <div class="fn1-pricingOffer-price">
                        <span class="fn1-pricingOffer-currency">$</span><span class="fn1-pricingOffer-value">40</span><span class="fn1-pricingOffer-unit">/mo</span>
                    </div>
                    <div class="fn1-pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
                <article class="fn1-pricingOffer">
                    <h1 class="fn1-pricingOffer-title">Students</h1>
                    <p class="fn1-pricingOffer-meta">Ages 18&ndash;25 with valid high school or university ID</p>
                    <div class="fn1-pricingOffer-price">
                        <span class="fn1-pricingOffer-currency">$</span><span class="fn1-pricingOffer-value">40</span><span class="fn1-pricingOffer-unit">/mo</span>
                    </div>
                    <div class="fn1-pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
                <article class="fn1-pricingOffer">
                    <h1 class="fn1-pricingOffer-title">Students</h1>
                    <p class="fn1-pricingOffer-meta">Ages 18&ndash;59</p>
                    <div class="fn1-pricingOffer-price">
                        <span class="fn1-pricingOffer-currency">$</span><span class="fn1-pricingOffer-value">40</span><span class="fn1-pricingOffer-unit">/mo</span>
                    </div>
                    <div class="fn1-pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
                <article class="fn1-pricingOffer">
                    <h1 class="fn1-pricingOffer-title">Students</h1>
                    <p class="fn1-pricingOffer-meta">Ages 18&ndash;59</p>
                    <div class="fn1-pricingOffer-price">
                        <span class="fn1-pricingOffer-currency">$</span><span class="fn1-pricingOffer-value">40</span><span class="fn1-pricingOffer-unit">/mo</span>
                    </div>
                    <div class="fn1-pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
            </div>
            <div class="fn1-btn-container--centered">
                <a href="#" class="fn1-btn-featuredAction">Join a membership plan</a>
            </div>
        </div>
    </section>
    <section class="fn1-uiBlock">
        <header class="fn1-uiBlock-header">
            <h1 class="fn1-uiBlock-title">Individual Plans</h1>
        </header>
        <div class="fn1-uiBlock-content">
            <div class="fn1-pricingTable">
                <article class="fn1-pricingOffer">
                    <h1 class="fn1-pricingOffer-title">Students</h1>
                    <p class="fn1-pricingOffer-meta">Ages 18&ndash;25 with valid high school or university ID</p>
                    <div class="fn1-pricingOffer-price">
                        <span class="fn1-pricingOffer-currency">$</span><span class="fn1-pricingOffer-value">40</span><span class="fn1-pricingOffer-unit">/mo</span>
                    </div>
                    <div class="fn1-pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
                <article class="fn1-pricingOffer">
                    <h1 class="fn1-pricingOffer-title">Students</h1>
                    <p class="fn1-pricingOffer-meta">Ages 18&ndash;25 with valid high school or university ID</p>
                    <div class="fn1-pricingOffer-price">
                        <span class="fn1-pricingOffer-currency">$</span><span class="fn1-pricingOffer-value">40</span><span class="fn1-pricingOffer-unit">/mo</span>
                    </div>
                    <div class="fn1-pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
                <article class="fn1-pricingOffer">
                    <h1 class="fn1-pricingOffer-title">Students</h1>
                    <p class="fn1-pricingOffer-meta">Ages 18&ndash;59</p>
                    <div class="fn1-pricingOffer-price">
                        <span class="fn1-pricingOffer-currency">$</span><span class="fn1-pricingOffer-value">40</span><span class="fn1-pricingOffer-unit">/mo</span>
                    </div>
                    <div class="fn1-pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
            </div>
            <div class="fn1-btn-container--centered">
                <a href="#" class="fn1-btn-featuredAction">Join a membership plan</a>
            </div>
        </div>
    </section>
    <section class="fn1-uiBlock">
        <header class="fn1-uiBlock-header">
            <h1 class="fn1-uiBlock-title">Individual Plans</h1>
        </header>
        <div class="fn1-uiBlock-content">
            <div class="fn1-pricingTable">
                <article class="fn1-pricingOffer">
                    <h1 class="fn1-pricingOffer-title">Students</h1>
                    <p class="fn1-pricingOffer-meta">Ages 18&ndash;25 with valid high school or university ID</p>
                    <div class="fn1-pricingOffer-price">
                        <span class="fn1-pricingOffer-currency">$</span><span class="fn1-pricingOffer-value">40</span><span class="fn1-pricingOffer-unit">/mo</span>
                    </div>
                    <div class="fn1-pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
                <article class="fn1-pricingOffer">
                    <h1 class="fn1-pricingOffer-title">Students</h1>
                    <p class="fn1-pricingOffer-meta">Ages 18&ndash;25 with valid high school or university ID</p>
                    <div class="fn1-pricingOffer-price">
                        <span class="fn1-pricingOffer-currency">$</span><span class="fn1-pricingOffer-value">40</span><span class="fn1-pricingOffer-unit">/mo</span>
                    </div>
                    <div class="fn1-pricingOffer-details">
                        <p>$35/mo with automatic debit</p>
                        <p>Pre-pay 6 months: $33.33/mo</p>
                        <p>Pre-pay full year: $30.00/mo</p>
                    </div>
                </article>
            </div>
            <div class="fn1-btn-container--centered">
                <a href="#" class="fn1-btn-featuredAction">Join a membership plan</a>
            </div>
        </div>
    </section>
    <section class="fn1-uiBlock">
        <header class="fn1-uiBlock-header">
            <h1 class="fn1-uiBlock-title">Staff</h1>
        </header>
        <div class="fn1-uiBlock-content">
            {% include '../../components/personListing/_personList.html' %}
        </div>
    </section>
{% endblock %}

{% block pageFooter %}
    <footer>
    </footer>
{% endblock %}
