{%- set page.layout = 'fullWidth' -%}
{%- set page.title = 'Full-width application layout example' -%}
{%- extends '../../layouts/generic.html' -%}

{% block extraHead %}
    <link href="../../assets/css/info.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block headers %}
    {% include './includes/_siteHeader.html' %}
{% endblock %}

{% block preContainer %}
    <section class="main-sidebar">
        <h1 class="sidebar-title">Application navigation and tools</h1>
    </section>
{% endblock %}

{% block blocks %}

{% endblock %}

{% block pageFooter %}
    <footer>
    </footer>
{% endblock %}
