button, .btn {
    background: $color-table-background;
    border:1px solid $color-border-input;
    border-radius:.4em;
    box-sizing: content-box;
    color: $color-heading-2;
    display:inline-block;
    line-height: 1em;
    padding: .5em 1em;
    font-size: (14rem/16);
    font-weight:normal;
    vertical-align: middle;

    &:hover {
        background: lighten($color-table-background, 1);
        cursor: pointer;
        text-decoration: none;
    }
    &-action {
        @extend .btn;
    }
    &-featuredAction {
        @extend .btn-action;
        font-size: (24rem/16);
    }
    &-container {
            @include clearfix();
            margin: 1em 0;
        &--centered {
            @extend .btn-container;
            text-align: center;
        }
        > [class^=btn] {
            margin: 0 1em 0 0;
        }
    }
}

.icon {
    cursor: pointer;
    display: inline-block;
    width:1em; height:1em;
    overflow: hidden;
    text-indent: -1000em;
}
.icon.calendar { background: url('../img/fa-svg/gray/svg/calendar.svg') no-repeat 50% 50% / 100% 100%; }
