<!-- Content inside the following block is intended to be parsed from Markdown content -->
<div class="fn1-text-description fn1-markdownContent">
    <p>Transparency means open to view - letting information out, measuring what we are doing and holding ourselves accountable, and sharing results widely. I've pledged from the beginning of my campaign to throw open the doors of city hall, literally and figuratively. Government belongs to the people, and that means all the data and information, good and bad, flattering and un-, as well.</p>
    <ul>
        <li>Our future depends on it. And it needs our attention.</li>
        <li>We'll be organizing it as open, accessible data so all can see and use it and manipulate it.</li>
        <li>Transparency is a good on its own and we'll be increasing it in coming weeks and months.</li>
        <li>That's a little scary in a transparent government, but it's essential if we are to become the effective government we need to be.</li>
        <li>Government doesn't need unloving critics, nor uncritical lovers.</li>
        <li>Besides deciding WHAT we will do, together, it's so very important HOW we do it.</li>
        <li>And yes local government is different from national and state government.</li>
        <li>Those values of creative and respectful activism and engagement are in the DNA of Bloomington.</li>
    </ul>
</div>
