body {
    color: $color-text-default;
    font-family: $font-family-default;
    font-size:100%;
}
h1, h2, h3, h4 {
    color: $color-heading;
    font-family: $font-family-heading;
}
h1 {
    font-size: $font-size-biggest;
    font-weight: 700;
    margin: 0 0 .5em;
}
h2 {
  font-size: $font-size-bigger;
  font-weight: 700;
  margin: $size-gutter 0;
}
h3 {
    font-size: $font-size-normal;
    font-weight: 400;
    margin:$size-gutter 0 ($size-gutter/2) 0;
}
h4 { font-size: $font-size-big; 
font-weight: 400; 

}
a {
    color: $color-link;
    text-decoration:none;
}
p {
    line-height: (20em/16);
    font-size: $font-size-normal;
    margin: $size-gutter 0;
}
address { white-space: pre-line; }
ol, ul { margin:0; padding:0; list-style-type:none; }

table { margin: 1em 0 1em 0; }
th { font-weight: $font-weight-heading; }
td { padding: ($size-gutter/2); }
thead th { text-align:left; }
tbody th { text-align:right; }

fieldset {
    margin: 0 0 3em 0;
    padding:0;
}
form {
    margin: 0 0 .2rem 0;
}
legend {
    color: $color-heading;
    display: block;
    font-size: $font-size-small;
    font-weight: 300;
    margin: 0;
    padding: 0 0 0 0;
}
label { font-weight:normal; }
@media (max-width:400px) {
    textarea { width:80%; height:6em; }
}
@media (min-width:401px) {
    textarea { width:60ex; height:12em; }
}

@media print {
    :root { font-size:10pt; }

    h1 {
        font-size: $font-size-biggest;
        margin: $size-gutter 0 0 0;
    }
    h2 {
        font-size: $font-size-bigger;
        margin: $size-gutter 0 0 0;
    }
}
