%icon {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-indent: -1000em;
}
.icon {
    &-calendar {
        @extend %icon;
        background: url('../img/fa-svg/gray/svg/calendar.svg') no-repeat 50% 50% / 100% 100%;
    }
}
