#nav1 {
    @include mediumViewport {
        overflow:auto;

        a {
            background: rgba(255, 255, 255, .5);
            color: $color-nav1;
            display: block;
            float: left;
            margin: 0 .5em .4em 0;
            padding: .5em .75em;
            transition: background-color .25s ease-in-out;
            &[aria-label] {
                border-bottom: .25em solid $color-nav1;
            }

            &:hover {
                background: rgba(255,255,255, .8);
                text-decoration: none;
            }
        }

        form     { float: right; }
        fieldset { margin: 0; }
        input    { font-size: 1em; padding: .25em; }
    }

    @include largeViewport {
    }
}
