/**
 * Urls are relative to screen.css
 */
$url-logo:              "";
$url-header-background: "";

@import 'https://fonts.googleapis.com/css?family=Lora';
@import 'https://fonts.googleapis.com/css?family=Roboto';
$font-family-default: Lora, serif;
$font-family-heading: Roboto, sans-serif;
$font-weight-heading: 600;

$font-size-bigger: 1.5rem;
$font-size-big:    1.3rem;
$font-size-normal:   1rem;
$font-size-small:   .8rem;
$font-size-smaller: .6rem;

@import 'color-palette';
$color-text-default:       $mine-shaft;
$color-content-background: $gin-fizz;

$color-link:               $biscay;
$color-nav1:               $biscay;
$color-header:             $biscay;
$color-accent:             $azure;

$color-heading:            $mine-shaft;
$color-error:              $brink-pink;
$color-alert:              $golden-tainoi;
$color-action:             $fern;

$color-background-field:           $wafer;
$color-background-field-highlight: $gin-fizz;
$color-border-input:               $silver-chalice;
$color-border-input-highlight:     $mine-shaft;
$color-border-table:               $wafer;

$color-table-background:           $wafer;
$color-table-background-alt:       $gin-fizz;
$color-table-header-background:    $biscay;

$color-shadow: rgba(0, 0, 0, 0.5);


$viewport-small:  (350rem/16);
$viewport-medium: (600rem/16);
$viewport-large:  (990rem/16);

$size-gutter: .5em;

// Breakpoint mixins
@mixin smallViewport {
    @media all and (min-width: #{$viewport-small}) {
        @content;
    }
}
@mixin mediumViewport {
    @media all and (min-width: $viewport-medium) {
        @content;
    }
}
@mixin largeViewport {
    @media all and (min-width: $viewport-large) {
        @content;
    }
}

@mixin visuallyHidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}
