$black:      #141414;
$white:      #f9f8f6;

// Primary Colors
$blue-dark:  #183365;
$blue:       #466597;
$blue-light: #7798ca;

// Background Colors
$almond:     #fcecc9;
$melon:      #fcb0b3;

// Secondary Colors
$green-dark: #515a2f;
$orange:     #fa942d;
$yellow:     #ff6;

$gray:       #d7d0c8;
$gray-light: #efedd8;
