$black:      #141414;
$gray:       #d7d0c8;
$gray-light: #efedd8;
$white:      #f9f8f6;

$blue:       #183365;
$blue-light: #7798ca;
$green:      #a1cca5;
$orange:     #f34213;
$pink:       #f7567c;
$sand:       #eee4e1;
$sand-light: #fffae3;
$yellow:     #ffc95c;
