.pageHeader {
    background: url('../info/img/photo-header-showers.jpg') no-repeat 50% 50% $blue;
    background-size: cover;
    box-shadow: none;
    margin: 0;

    &-container {
        overflow: hidden;
            &:before {
                background: url('../info/img/photo-header-showers-circle@1x.jpg') no-repeat;
                background-size: cover;
                border-radius: 50%;
                content: ' ';
                display: block;
                height: 75px;
                margin: 1.25rem auto .5rem;
                width: 75px;
            }
    }
    > &-wrap {
    }
    &-title {
        color: #fff;
        font-weight: 400;
        font-size: (22rem/16);
        line-height: 1.2em;
        margin: .5rem 0;
        text-align: center;
    }

    &-breadcrumbs {
        text-align: center;

        > a {
            border-bottom: (1rem/16) solid rgba(255,255,255,0);
            color: #fff;
            display: inline-block;
            font-family: $font-headings;
            font-size: (12rem/16);
            letter-spacing: .2em;
            margin: 0 2em 0 0;
            padding: 0 0 .125em 0;
            position: relative;
            text-transform: uppercase;
            transition: border-bottom-color .25s ease-in-out;

            &:hover {
                border-bottom-color: rgba(255,255,255,1);
                text-decoration: none;
            }
            &:after {
                content: ' >';
                pointer-events: none;
                position: absolute;
                    right: -1.5em;
            }
        }
    }

    @media screen and (min-width: $viewport-medium) {
        &-container {
            min-height: 12rem;
            padding-left: (210rem/16);
            position: relative;
                z-index: 0;

            &:before {
                height: 152px;
                margin: (14rem/16) (27rem/16) (14rem/16) 0;
                    position: absolute;
                    top: .5em;
                    left: 2em;
                    z-index: 1;
                width: 152px;
            }
        }
        &-wrap {
            display: table-cell;
            height: 12rem;
            vertical-align: middle;
        }
        &-title {
            font-size: (42rem/16);
            font-weight: 300;
            line-height: 1.2em;
            margin: 0 0 0 (-2rem/16);
            text-align: left;
        }
        &-breadcrumbs {
            margin: 0;
            padding: 0;
            text-align: left;

            > a {
                font-size: 1rem;
            }
        }
    }
    @media screen and (min-resolution: 2dppx) {
        &-container:before {
            background: url('../../assets/info/img/photo-header-showers-circle@2x.jpg') no-repeat;
            background-size: 100% 100%;
        }
    }
}

&.widthConstrained {
    .pageHeader-container {
        @extend %docWidthContainer;
    }
}
