// Declare base placeholder
.fn1-miniGallery {
    @media screen and (min-width: $viewport-medium) {
        margin: 2rem 0 0 0;
        &-col {
            padding-left: $grid-gutter;
            padding-right: $grid-gutter;
        }
        + .fn1-text-description {
            margin: 3rem (100%*1/12);
            padding: 0 $grid-gutter;
            p {
                font-size: (20rem/16);
                margin: 2rem 0;
            }
            ul {
                font-size: (18rem/16);
                margin-top: 3rem;
                margin-bottom: 3rem;
            }
        }
    }
}
