<div class="fn1-miniGallery--3pic">
    <div class="fn1-miniGallery-col">
        <img src="https://spaceholder.cc/400x250" alt="Photo (remove style attribute in production)" style="background-color: #c0c0c0;" />
    </div>
    <div class="fn1-miniGallery-col">
        <img src="https://spaceholder.cc/400x250" alt="Photo (remove style attribute in production)" style="background-color: #c0c0c0;" />
    </div>
    <div class="fn1-miniGallery-col">
        <img src="https://spaceholder.cc/400x250" alt="Photo (remove style attribute in production)" style="background-color: #c0c0c0;" />
    </div>
</div>
