
    <h2>Date Header</h2>
    <article class="doc-specimen">
        <h1 class="dateHeader">
            <span class="dateHeader-weekday">Monday</span>
            <span class="dateHeader-month">November</span>
            <span class="dateHeader-monthDate">31</span>
        </h1>
    </article>

    <article class="event">
        <h1 class="event-title">Event Title Bloomington Advisory Committee Board</h1>
        <div class="event-meta">
            <time class="event-dateTime">Wed October 25, 2105, 8:00pm</time>
            <span class="event-location">City Hall McCloskey Room</span>
        </div>
    </article>
