<table class="table">
  <thead>
    <tr>
      <th>Column 1</th>
      <th>Second Column</th>
      <th>Third Col</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Data 1</td>
      <td>Second Data</td>
      <td>Third Opt</td>
      <td>
        <div class="dropdown table-actions">
          <button class="dropdown-launcher" aria-haspopup="true" aria-expanded="false">More</button>
          <div class="dropdown-links">
            <a href="#" class="dropdown-link">First option</a>
            <a href="#" class="dropdown-link">Second choice</a>
            <a href="#" class="dropdown-link">Third vector</a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Data 1</td>
      <td>Second Data Second choice Second choice Second choice Second choice Second choice Second choice Second choice</td>
      <td>Third Opt</td>
      <td>
        <div class="dropdown table-actions">
          <button class="dropdown-launcher" aria-haspopup="true" aria-expanded="false">More</button>
          <div class="dropdown-links">
            <a href="#" class="dropdown-link">First option</a>
            <a href="#" class="dropdown-link">Second choice</a>
            <a href="#" class="dropdown-link">Third vector</a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Data 1</td>
      <td>Second Data</td>
      <td>Third Opt</td>
      <td>
        <div class="dropdown table-actions">
          <button class="dropdown-launcher" aria-haspopup="true" aria-expanded="false">More</button>
          <div class="dropdown-links">
            <a href="#" class="dropdown-link">First option</a>
            <a href="#" class="dropdown-link">Second choice</a>
            <a href="#" class="dropdown-link">Third vector</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
