{% extends '../uiBlock/_uiBlock.html' %}

{% block title %}Tabular Data{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Column 1</th>
      <th>Second Column</th>
      <th>Third Col</th>
      <th><div class="table-actions">Actions</div></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Data 1</td>
      <td>Second Data</td>
      <td>Third Opt</td>
      <td>
        <div class="dropdown table-actions">
          <button class="launcher" id="tableActions1" aria-haspopup="true" aria-expanded="false">More</button>
          <div class="links" aria-labeledby="tableActions1" hidden>
            <a href="#">First option</a>
            <a href="#">Second choice</a>
            <a href="#">Third vector</a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Data 1</td>
      <td>Second Data Second choice Second choice Second choice Second choice Second choice</td>
      <td>Third Opt</td>
      <td>
          <div class="dropdown table-actions">
            <button class="launcher" id="tableActions2" aria-haspopup="true" aria-expanded="false">More</button>
            <div class="links" aria-labeledby="tableActions1" hidden>
              <a href="#">First option</a>
              <a href="#">Second choice</a>
              <a href="#">Third vector</a>
            </div>
          </div>
      </td>
    </tr>
    <tr>
      <td>Data 1</td>
      <td>Second Data</td>
      <td>Third Opt</td>
      <td>
          <div class="dropdown table-actions">
            <button class="launcher" id="tableActions2" aria-haspopup="true" aria-expanded="false">More</button>
            <div class="links" aria-labeledby="tableActions1" hidden>
              <a href="#">First option</a>
              <a href="#">Second choice</a>
              <a href="#">Third vector</a>
            </div>
          </div>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
