<nav class="dropdown siteMenu">
    <button id="siteMenu-button" class="dropdown-launcher" aria-haspopup="true" aria-expanded="false">Menu</button>
    <div class="dropdown-links" role="listbox" aria-labeledby="siteMenu-button">
        <a href="//bloomington.in.gov/alpha" class="dropdown-link">Home</a>
        <a href="//bloomington.in.gov/alpha/residents" class="dropdown-link">Residents</a>
        <a href="//bloomington.in.gov/alpha/business" class="dropdown-link">Business</a>
        <a href="//bloomington.in.gov/alpha/visitors" class="dropdown-link">Visitors</a>
        <a href="//bloomington.in.gov/alpha/students" class="dropdown-link">Students</a>
        <a href="//bloomington.in.gov/alpha/government" class="dropdown-link">Government</a>
    </div>
</nav>
