.mainText {
    @include grid-10col();
    margin-top: 1rem;
    // Highlights of the main article; separate from the Page Overview.
    .highlights {
        margin: 0 0 2rem 0;
        &-group {
            &:first-of-type {
                border-top: .5em solid $blue;
            }
            border-bottom: (1rem/16) solid $gray;
            padding: .5em 0;
        }
    }
    + section, + div, + .uiBlock {
        clear: both;
    }
    @include mediumViewport {
        margin-top: 4rem;
        margin-bottom: 3rem;
        .highlights {
            box-sizing: border-box;
            float: right;
            margin: 0 (-100%*2/10) 0 ($grid-gutter); // <- Two child grid columns in a ten column parent
            padding-left: $grid-gutter;
            width: (100%*6/10); // <- Six child columns inside a ten column parent
        }
    }
}
