.fn1-siteHeader {
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: none;
    height: $fn1-geospatial-headerHeight;
    margin: 0;
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
    &:before {
        background-color: $fn1-blue;
        content: '';
        display: block;
        height: (8rem/16);
    }

    &-container {
        @include container();
        margin: 0 auto;
        width: auto;
        @media screen and (min-width: $viewport-medium) {
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }
}
