{#
    Full Screen Calendar
#}
<section class="doc">
    <h1>Events, dates, and times</h1>

    <h2>Date Header</h2>
    <article class="doc-specimen">
        <h1 class="fn1-dateHeader">
            <span class="fn1-dateHeader-weekday">Monday</span>
            <span class="fn1-dateHeader-month">November</span>
            <span class="fn1-dateHeader-monthDate">31</span>
        </h1>
    </article>

    <h2>Base Event Objects</h2>
    <article class="doc-specimen">
        <article class="fn1-event">
            <h1 class="fn1-event-title">Event Title Bloomington Advisory Committee Board</h1>
            <div class="fn1-event-meta">
                <time class="fn1-event-dateTime">Wed October 25, 2105, 8:00pm</time>
                <span class="fn1-event-location">City Hall McCloskey Room</span>
            </div>
        </article>
    </article>

    <h2>Full Screen Calendar</h2>
    <article class="doc-specimen">


        <section class="fn1-fsCal">
            <h1 class="fn1-dateHeader">
                <span class="fn1-dateHeader-weekday">Monday</span>
                <span class="fn1-dateHeader-month">November</span>
                <span class="fn1-dateHeader-monthDate">31</span>
            </h1>
            <article class="fn1-event">
                <h1 class="fn1-event-title">Event Title Bloomington Advisory Committee Board</h1>
                <time>8:00pm</time>
                <a href="#" class="fn1-icon-calendar" title="View on Google Calendar">View on Google Calendar</a>
                <div class="fn1-event-meta">
                    <div class="fn1-event-location">City Hall McCloskey Room</div>
                </div>
                <div class="fn1-event-description">
                    <p>Community Condition addresses a broad range of issues often best addressed by municipal government. Issues that impact the human condition, our animals and the community at large include public safety.</p>
                </div>
            </article>

            <article class="fn1-event">
                <h1 class="fn1-event-title">Event Title Bloomington Advisory Committee Board</h1>
                <time>8:00pm</time>
                <a href="#" class="fn1-icon-calendar" title="View on Google Calendar">View on Google Calendar</a>
                <div class="fn1-event-meta">
                    <div class="fn1-event-location">City Hall McCloskey Room</div>
                </div>
                <div class="fn1-event-description">
                    <p>Community Condition addresses a broad range of issues often best addressed by municipal government. Issues that impact the human condition, our animals and the community at large include public safety.</p>
                </div>
            </article>
        </section>

        <section class="fn1-fsCal">
            <h1 class="fn1-dateHeader">
                <span class="fn1-dateHeader-weekday">Monday</span>
                <span class="fn1-dateHeader-month">November</span>
                <span class="fn1-dateHeader-monthDate">31</span>
            </h1>
            <article class="fn1-event">
                <h1>Event Title Bloomington Advisory Committee Board</h1>
                <time>8:00pm</time>
                <a href="#" class="fn1-icon-calendar" title="View on Google Calendar">View on Google Calendar</a>
                <div class="fn1-event-meta">
                    <div class="fn1-event-location">City Hall McCloskey Room</div>
                </div>
                <div class="fn1-event-description">
                    <p>Community Condition addresses a broad range of issues often best addressed by municipal government. Issues that impact the human condition, our animals and the community at large include public safety.</p>
                </div>
            </article>
            <article class="fn1-event">
                <h1>Event Title Bloomington Advisory Committee Board</h1>
                <time>8:00pm</time>
                <a href="#" class="fn1-icon-calendar" title="View on Google Calendar">View on Google Calendar</a>
                <div class="fn1-event-meta">
                    <div class="fn1-event-location">City Hall McCloskey Room</div>
                </div>
                <div class="fn1-event-description">
                    <p>Community Condition addresses a broad range of issues often best addressed by municipal government. Issues that impact the human condition, our animals and the community at large include public safety.</p>
                </div>
            </article>
        </section>


    </article>
</section>
