.dateHeader {
    @media screen and (min-width: $viewport-small) {
        font-family: $font-body-copy;
        &-weekday {
            color: $gray-dark;
        }
        &-month {
            font-size: (24rem/16);
        }
        &-monthDate {
            color: $gray;
            font-size: (48rem/16);
            font-family: Georgia, serif;
        }
    }
}

.fsCal {
    margin-right: $grid-gutter;
    margin-left: $grid-gutter;
    border-top-color: $gray;
    > .event {
        > h1 {
            color: $cornflower-darkest;
        }
        @media screen and (min-width: $viewport-medium) {
            &:not(:first-of-type) {
                border-top-color: $gray;
            }
        }
    }
}
