{% extends '../uiBlock/_uiBlock.html' %}

{% block title %}Full Screen Events Calendar{% endblock %}

{% block content %}
    <section class="fsCal">
        <h1 class="dateHeader">
            <span class="dateHeader-weekday">Monday</span>
            <span class="dateHeader-month">November</span>
            <span class="dateHeader-monthDate">31</span>
        </h1>
        <article class="event">
            <h1 class="event-title">Event Title Bloomington Advisory Committee Board</h1>
            <time>8:00pm</time>
            <a href="#" class="icon-calendar" title="View on Google Calendar">View on Google Calendar</a>
            <div class="event-meta">
                <div class="event-location">City Hall McCloskey Room</div>
            </div>
            <div class="event-description">
                <p>Community Condition addresses a broad range of issues often best addressed by municipal government. Issues that impact the human condition, our animals and the community at large include public safety.</p>
            </div>
        </article>

        <article class="event">
            <h1 class="event-title">Event Title Bloomington Advisory Committee Board</h1>
            <time>8:00pm</time>
            <a href="#" class="icon-calendar" title="View on Google Calendar">View on Google Calendar</a>
            <div class="event-meta">
                <div class="event-location">City Hall McCloskey Room</div>
            </div>
            <div class="event-description">
                <p>Community Condition addresses a broad range of issues often best addressed by municipal government. Issues that impact the human condition, our animals and the community at large include public safety.</p>
            </div>
        </article>
    </section>

    <section class="fsCal">
        <h1 class="dateHeader">
            <span class="dateHeader-weekday">Monday</span>
            <span class="dateHeader-month">November</span>
            <span class="dateHeader-monthDate">31</span>
        </h1>
        <article class="event">
            <h1>Event Title Bloomington Advisory Committee Board</h1>
            <time>8:00pm</time>
            <a href="#" class="icon-calendar" title="View on Google Calendar">View on Google Calendar</a>
            <div class="event-meta">
                <div class="event-location">City Hall McCloskey Room</div>
            </div>
            <div class="event-description">
                <p>Community Condition addresses a broad range of issues often best addressed by municipal government. Issues that impact the human condition, our animals and the community at large include public safety.</p>
            </div>
        </article>
        <article class="event">
            <h1>Event Title Bloomington Advisory Committee Board</h1>
            <time>8:00pm</time>
            <a href="#" class="icon-calendar" title="View on Google Calendar">View on Google Calendar</a>
            <div class="event-meta">
                <div class="event-location">City Hall McCloskey Room</div>
            </div>
            <div class="event-description">
                <p>Community Condition addresses a broad range of issues often best addressed by municipal government. Issues that impact the human condition, our animals and the community at large include public safety.</p>
            </div>
        </article>
    </section>
{% endblock %}
