<section class="fn1-alertHeader">
    <div class="fn1-alertHeader-container">
        <h1>Alert title field</h1>
        <article>
            This is a day to remember that and dedicate ourselves to furthering that democracy. Indeed to remember that through dialogue and dissent and sometimes even stressful conflict we improve our communities.
        </article>
        <div class="fn1-btn-container">
            <a href="#" class="fn1-btn-featuredAction">Call to action</a>
        </div>
    </div>
</section>
