.alertHeader {
    background-color: $red;
    border-top: (8rem/16) solid $red-dark;
    overflow: hidden;
    &-content {
        @include grid-8col();
        font-size: (18rem/16);

        p {
            margin-top: 0;
            &:only-of-type {
                margin-bottom: 0;
            }
        }
    }
    &-title {
        @include grid-12col();
        color: #fff;
        font-weight: bold;
        font-size: (18rem/16);
        text-transform: uppercase;
    }
    &-container {
        @include container();
        color: #fff;
        .btn {
            &-container {
                @include grid-4col();
            }
            &-featuredAction {
                background-color: $red-dark;
                background-image: none;
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                border: none;
                color: #fff;
                display: block;
                font-size: (18rem/16);
                text-align: center;
                transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
                &:hover {
                    background-color: lighten($red-dark, 2%);
                    box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, .3);
                }
            }
        }
    }
    @media screen and (min-width: $viewport-medium) {
        &-title {
            margin-bottom: 0;
        }
        &-container {
            .btn {
                &-container {
                    margin-top: 0;
                }
            }
        }
    }
}
