body > header {

    background-color: #f1f3f8;
    box-shadow: 0 5px 5px 0 #c0c0c0;
    margin: 0 0 20px 0;

    > .fn1-container {
        margin: 0 auto 0;
        color: $color-header;
        position: relative;
        @include clearfix();

        .fn1-site {
            &-title {
                float: left;

                a { color: $color-header; }

                h1 {
                    font-size:1.5em;
                    font-weight: normal;
                    margin: .5em 0 .25em 0;
                }
            }
            &-utilityBar {
                position: relative;

                nav {
                    float: right;
                    margin: 0 0 0 1em;
                }
            }
        }
    }

    @media screen and (min-width: $viewport-medium) {
        position: relative;

        > .fn1-container {
            box-sizing: border-box;
            margin: 0 auto;
            padding-top: .5em;
            width: 46em;
        }
    }

    @media screen and (min-width: $viewport-large) {
        > .fn1-container {
            width: 60em;
        }
    }
}
