$biscay:           #183365;
$azure:            #315da6;
$sail:             #c9e5f7;
$dodger-blue:      #3f9dff;
$pomegranate:      #f34213;
$wafer:            #eee4e1;
$golden-tainoi:    #ffc95c;
$spring-rain:      #a1cca5;
$bright-turquoise: #0ffae3;
$brink-pink:       #f7567c;
$gin-fizz:         #fffae3;
$mine-shaft:       #212121;
$sunglo:           #e57373;
$fern:             #4caf50;
$sushi:            #8bc34a;
$california:       #ff9800;
$roman-coffee:     #795548;
$silver-chalice:   #9e9e9e;
$gothic:           #607d8b;
$white:            #fff;
$cornflower:       #90c2e7;
$accentred:        #a31621;
$icontext:         #fcf7f8;
$primary:          #315da6;
$lightprimary:     #a1b5d6;
$darkprimary:      #183365;
$dividercolor:     #cdcdcd;
$primarytext:      #212121;
$accentcolor:      #A31621;
$secondarytext:    #9E9E9E;
