<form>
    <div>
        <label for="text1">Title</label>
        <input type="text" value="Value" id="text1" />
    </div>

    <div>
        <label for="text2">Title</label>
        <input type="text" value="Value" id="text2" />
    </div>

    <div class="select">
        <label for="select1">Dropdown</label>

        <select id="select1">
            <option>First option</option>
            <option>Second choice</option>
            <option>Third vector of decision</option>
        </select>
    </div>

    <div class="checkbox">
        <label>Checkbox Group</label>

        <label><input type="checkbox" />First option</label>
        <label><input type="checkbox" />Second choice And while we're working hard to implement these initiatives, it is you, our citizens, who make Bloomington a terrific place to live.</label>
        <label><input type="checkbox" />Third vector of decision</label>

    </div>

    <div class="textarea">
        <label>Textarea</label>
        <textarea></textarea>
    </div>

    <div>
        <label>Date</label>
        <input name="date" id="date" type="date" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
    </div>

    <div>
        <label>Time</label>
        <input name="time" id="time" placeholder="hh:mm am" type="time" />
    </div>
</form>
