{%- set layoutType = 'widthConstrained' -%}
{%- extends '../../layouts/generic.html' -%}

{% block page.title %}Kirkwood Theme demo page{% endblock %}

{% block extraHead %}
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700,600' rel='stylesheet' type='text/css'>
    <link href="../../assets/css/kirkwood.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block headers %}
    {% include './includes/_header.html' %}
{% endblock %}

{% block blocks %}
    {% include '../../components/testContent.html' %}
{% endblock %}

{% block pageFooter %}
    <footer>
    </footer>
{% endblock %}
