input[type="tel"] { padding-left: 44px; }
input[type="checkbox"], input[type="radio"] {
    font-size: 1em;
    margin: 0 .45em 0 -1.4em;
    padding: 0;
    vertical-align: middle;
    width: inherit;
}

dl {
    border-top: 1px solid;
    display: block;
    margin: 0;
    padding: .5em 0;
    dt {
        font-size: .8em;
        float: left;
        margin: 0;
        padding: .2em 0 0 0;
        width: 8em;
    }
    dd {
        margin: 0;
        padding: 0;
    }
}

form dl {
    border-top: none;

    input {
        box-sizing: border-box;
        border: 1px solid $color-border-input;
        font-family: $font-family-default;
        font-size: 1em;
        padding: .5em;
        transition: border-color .35s ease-in-out, background-color .5s ease-in-out;
        width: 100%;

        &:focus {
            background-color: $color-content-background;
            border-color: $color-border-input-highlight;
        }
    }

    &.checkbox, &.radio {
        label {
            display:block;
            margin: 0;
            vertical-align: middle;
            margin-bottom: .25em;
            padding: 0 0 0 1.6em;
            vertical-align: middle;
            line-height: 1.2em;
        }
    }
    &.select   { }
    &.textarea { }


    @media all and (min-width: $viewport-medium) {
        background: $color-background-field;
        margin: 2px 0;
        transition: background .25s linear;

        &:after {
            clear: both;
            content: '';
            display: table;
        }
        &:hover {
            background: $color-background-field-highlight;
        }
        dt {
            color: $color-heading-3;
            float: left;
            font-size: (13em/16);
            margin: 0;
            padding: .75em 0 0 1em;
            width: 8em;
        }
        dd {
            margin-left: 8em;

        }
        input {
            font-size: (14em/16);
            width: 20em;

            &.datePicker { width:inherit; }
            &.timePicker { width:inherit; }
        }
        &.radio, &.checkbox, &.select {
            dt {
                padding-top: .4em;
            }
        }
    }
}
