{% extends '../uiBlock/_uiBlock.html' %}
{% block title %}Input Fields{% endblock %}

{% block content %}
    <!-- Instance of components/input/text-input.html -->
<form>
    <dl>
        <dt><label for="text1">Title</label></dt>
        <dd><input type="text" value="Value" id="text1" /></dd>
    </dl>

    <dl>
        <dt><label for="text2">Title</label></dt>
        <dd><input type="text" value="Value" id="text2" /></dd>
    </dl>

    <dl class="select">
        <dt><label for="select1">Dropdown</label></dt>
        <dd>
            <select id="select1">
                <option>First option</option>
                <option>Second choice</option>
                <option>Third vector of decision</option>
            </select>
        </dd>
    </dl>

    <dl class="checkbox">
        <dt>Checkbox Group</dt>
        <dd><label><input type="checkbox" />First option</label>
            <label><input type="checkbox" />Second choice And while we're working hard to implement these initiatives, it is you, our citizens, who make Bloomington a terrific place to live.</label>
            <label><input type="checkbox" />Third vector of decision</label>
        </dd>
    </dl>

    <dl class="textarea">
        <dt>Textarea</dt>
        <dd><textarea></textarea></dd>
    </dl>

    <dl><dt>Date</dt>
        <dd><input name="date" id="date" placeholder="mm/dd/yyyy" class="date" /></dd>
    </dl>

    <dl><dt>Time</dt>
        <dd><input name="time" id="time" placeholder="hh:mm am" class="time" /></dd>
    </dl>
</form>
{% endblock %}
