.siteLogo {
    margin-bottom: 0;
    margin-left: .5em;
}
&.widthConstrained {
    @media screen and (min-width: $viewport-medium) {
        .siteLogo {
            margin-left: $grid-gutter;
        }
    }
}
