<nav class="fn1-siteMenu">
    <div id="siteMenu-button" class="siteMenu-button menuLauncher" role="button" aria-haspopup="true" aria-expanded="false">Menu</div>
    <div class="menuLinks closed" role="listbox" aria-labeledby="siteHeader-menu-button">
        <a href="//bloomington.in.gov/alpha">Home</a>
        <a href="//bloomington.in.gov/alpha/residents">Residents</a>
        <a href="//bloomington.in.gov/alpha/business">Business</a>
        <a href="//bloomington.in.gov/alpha/visitors">Visitors</a>
        <a href="//bloomington.in.gov/alpha/students">Students</a>
        <a href="//bloomington.in.gov/alpha/government">Government</a>
    </div>
</nav>
