{% include 'contentBlock/_contentBlock.html' %}

{% set tools = ['First Action', 'Second Action'] %}
{% include 'field/field.html' with tools %}

{% set tools = null %}

{% include 'output/_output-table.html' %}

{% include 'personListing/_personList.html' %}

{% include 'event/_fsCal--block.html' %}

<h1>Sub-components</h1>

<h2>By the numbers</h2>
{% include 'output/_output-field-byTheNumbers.html' %}

<h2>Buttons</h2>
{% include 'button/_btn.html' %}

<h2>Event objects</h2>
{% include 'event/_event.html' %}
