main {
    > .container {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 2em;
    }
    @media all and (min-width: $viewport-medium) {
        position: relative;

        &:before {
            background:  -ms-linear-gradient(top,  #e4eff8 0%,   $color-content-background 200px); /* IE10+ */
            background: linear-gradient(to bottom, #e4eff8 20em, $color-content-background 30em); /* W3C */
            box-sizing: content-box;
            content: '';
            display: block;
            height: 200px;
            padding: 20em 0 0 0;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1;
        }
        > .container {
            background: $color-content-background;
            border-top: $size-gutter solid $color-header-border;
            min-height: 40em;
            position: relative;
            z-index: 3;
        }
    }

    @media all and (min-width:$viewport-large) {
        > .container {
            width:$viewport-large;
        }
    }
}
