body {
    color: $fn1-gray-darkest;
    font-family: 'PT Sans', 'Helvetica Neue', Arial, sans-serif;
    > main {
        @media screen and (min-width: $viewport-large) {
            > .fn1-container {
                max-width: $layoutMaxWidth;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headings;
}
h1, h2, h3 {
    font-weight: 300;
}
