body > header {
    background-color: $color-content-background;
    border-top: 0.4em solid $color-accent;
    padding-left:0;

    @media all and (min-width: $viewport-medium) {
        > .container {
            box-sizing: border-box;
            margin: 0 auto;
            width: 46em;
        }
    }
    @media all and (min-width: $viewport-large) {
        > .container {
            width: 60em;
        }
    }
}
