.pricingOffer {
    text-align: center;
    &-title {
        color: $blue-darkest;
        font-weight: 400;
    }
    &-price {
        color: $cornflower-darkest;
        font-family: $font-headings;
        font-size: (24rem/16);
    }
    &-value {
        font-weight: 300;
        font-size: (48rem/16);
    }
    @include mediumViewport {
        padding-right: ($grid-gutter / 2);
        padding-left: ($grid-gutter / 2);
        &-meta {
            min-height: 2.5em;
        }
    }
    @include smallViewport {
        padding-right: $grid-gutter;
        padding-left: $grid-gutter;
    }
}
