{% extends '../uiBlock/_uiBlock.html' %}

{% block title %}Staff Listing{% endblock %}

{% block content %}
    <div class="personList">
        {% include '_personListing.html' %}
        {% include '_personListing.html' %}
        {% include '_personListing.html' %}
        {% include '_personListing.html' %}
        {% include '_personListing.html' %}
        {% include '_personListing.html' %}
        {% include '_personListing.html' %}
    </div>
    <div class="btn-container">
        <a href="#" class="btn-featuredAction">Apply to join our team</a>
    </div>
{% endblock %}
