<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../assets/css/default.css" />
    {% block extraHead %}{% endblock %}
</head>

<body class="fn1 {{ page.layout }}">
    {% block headers %}{% endblock %}
    <main class="main">
        {% block preContainer %}{% endblock %}
        <div class="main-container">
            {% block blocks %}{% endblock %}
        </div>
    </main>

    {% block pageFooter %}{% endblock %}
    <script src="../../assets/js/dropdown.js"></script>
</body>

</html>
