<section class="alertHeader">
    <article class="alertHeader-container">
        <h1 class="alertHeader-title">Alert title field</h1>
        <div class="alertHeader-content">
            <p>This is a day to remember that and dedicate ourselves to furthering that democracy. Indeed to remember that through dialogue and dissent and sometimes even stressful conflict we improve our communities.</p>
        </div>
        <div class="btn-container">
            <a href="#" class="btn-featuredAction">Call to action</a>
        </div>
    </article>
</section>
