#nav1 {
    @media all and (min-width: $viewport-medium) {
        background: url($url-header-background);
        background-size: 100% auto;

        .container {
            background: rgba(255, 255, 255, .5);
            box-sizing: border-box;
            margin: 0 auto;
        }

        a {
            color: $color-nav1;
            display: inline-block;
            margin-right: $size-gutter;
            padding: .5em .75em;
        }

        form     { float: right; }
        fieldset { margin: 0; }
        input    { font-size: 1em; padding: .25em; }
    }

    @media all and (min-width:$viewport-large) {
        .container {
            width: $viewport-large;
            a {
                padding-left: 1.5em;
                padding-right: 1.5em;
            }
        }
    }
}
