.uiBlock {
    margin-top: 3rem;
    margin-bottom: 3rem;
    &-portraitSidebar {
        padding-right: $grid-gutter;
        padding-left: $grid-gutter;
        & + .uiBlock-content {
            padding-left: $grid-gutter;
            padding-right: $grid-gutter;
        }
    }
    &-title {
        color: $blue-darkest;
        font-size: (20rem/16);
        font-weight: 400;
        margin-top: 1em;
        &--centered {
            // Make sure we apply this theme's styles to centered headings, as well.
            @extend .uiBlock-title;
        }
    }
    @media screen and (min-width: $viewport-medium) {
        &-header {
            margin-right: $grid-gutter;
            margin-left: $grid-gutter;
        }
        &-title {
            font-size: (28rem/16);
            margin-top: .75em;
        }
        &-portraitSidebar {
            $sidebarWidth: (100%*4.5/12); // <- 5 columns in a 12 column parent
            width: $sidebarWidth;
            & + .uiBlock-content {
                margin-left: $sidebarWidth;
                padding-left: $grid-gutter*3;
                .description {
                    font-size: (20rem/16);
                }
            }
        }
    }
    @media screen and (min-width: $viewport-large) {
        &-title {
            font-size: (36rem/16);
            font-weight: 300;
            margin-top: .75em;
            &.mod-xl {
                font-size: (48rem/16);
                margin-top: 1.25em;
            }
        }
    }
}
