.uiBlock {
    margin: 2rem 0;
    &-title {
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 1em;
        &--centered {
            @extend .uiBlock-title;
            display: block;
            text-align: center;
        }
    }
    &-headerTools {
        display: inline-block;
    }
    &-portraitSidebar {
        img {
            width: 100%;
        }
    }
    @media screen and (min-width: $viewport-medium) {
        &-portraitSidebar {
            $sidebarWidth: 33%;
            float: left;
            width: $sidebarWidth;
            & + .uiBlock-content {
                margin-left: $sidebarWidth;
                padding-left: 1rem;
            }
        }
    }
}
