{% extends '../../layouts/generic.html' %}

{% block pageTitle %}Geospatial theme demo page{% endblock %}

{% block extraHead %}
    <link href="../../assets/css/geospatial.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageHeader %}
    {% include './includes/_siteHeader.html' %}
{% endblock %}

{% block preContainer %}
    <div class="panelOne">

    </div>
{% endblock %}

{% block blocks %}
    <!-- div to use as map -->
    <div class="content-panel-map" id="map"></div>
{% endblock %}

{% block pageFooter %}
    <footer>
    </footer>
{% endblock %}
